@import "tailwindcss";
body {
  background-color: #fef3c6;
}
.card {
  box-shadow: 2px 4px 8px 0 rgba(90, 44, 0, 0.5);
  transition: 0.3s;
  width: 215px;
  height: 390px;
  border-radius: 5px;
  border: 0.01rem solid gray;
  background-color: rgb(241, 241, 241);
}

.card:hover {
  box-shadow: 5px 8px 16px 5px rgba(170, 68, 1, 0.2);
  transform: translateY(-5px);
}

.poster {
  border-radius: 5px 5px 0px 0px;

  top: 0;
  width: 200;
  height: 82%;
}
.rating {
  width: 100%;
  height: 100%;
}
.detail {
  max-height: 100px;
}
.discoverPage {
  margin-left: 15%;
  margin-right: 15%;
}
.smallPX {
  margin-top: 0.3%;
}
.header {
  margin-left: 15%;
  margin-right: 15%;
}
.top-buttons {
  transition: 0.3s;
}
.top-buttons:hover {
  background-color: rgb(151, 66, 0);
  box-shadow: 5px 8px 16px 5px rgba(170, 68, 1, 0.2);
  transform: translateY(-3px);
}
.register-form {
  /* min-width: 10rem; */
  width: 28rem;
}
.register-parent {
  width: 100%;
}
/* .register-inputs {
} */
.upload-area {
  padding: 0.35rem;
  padding-left: 1rem;
  width: 20rem;
  height: 2rem;
}
.addButton {
  box-shadow: 0 4px 8px 0 rgba(90, 44, 0, 0.274);
  color: #fef3c6;
  font-weight: 500;
  background-color: oklch(76.9% 0.188 70.08);
  transform: translateY(2px);
  top: -1.75rem;
}
.addButton:hover {
  background-color: oklch(80.9% 0.188 70.08);
  transition: 0.3s;
  transform: translateY(0px);
}
.page-title {
  background-color: rgb(133, 60, 0);
}
.remove {
  /* font-size: 1.4rem; */
  text-align: center;
  top: -0.25rem;
  left: 0.65rem;
  font-size: 1.3rem;
  color: firebrick;
}
.add {
  text-align: center;
  top: -0.25rem;
  left: 0.45rem;
  font-size: 1.3rem;
  color: whitesmoke;
}
.remove:hover {
  transform: tran;
}
.login-form {
  margin-left: 15%;
}
