HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

BackEnd/permovdb/src/main/resources/application-secret.properties
BackEnd/permovdb/src/main/resources/application.properties
BackEnd/permovdb/src/main/java/com/permovdb/permovdb/security/JwtUtil.java
BackEnd/permovdb/src/main/java/com/permovdb/permovdb/security/SecurityConstants.java
RecommendationEngine/recommendationService/**
uploads

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
